{
  "openapi": "3.0.3",
  "info": {
    "title": "Built Environment Data: Experiments API",
    "version": "1.0.0",
    "description": "<strong>BED</strong> offers a suite of web services that users can interact with programmatically. Below, you'll find collections of API requests supported by our web services, organized for easy access and integration into your projects. Data must be obtained using any prgram supporting the HTTP-POST and HTTP-GET methods. <br> For detailed descriptions and curl examples visit <a href='/web-services'>Web Services</a>. <br> Get the collections in JSON and YAML formats and start exploring the possibilities with the <strong>BED</strong>'s APIs: <ul> <li><a href='/web-services/build-environment-data-experiments.postman_collection.json' download> build-environment-data-experiments.postman_collection.json </a></li> <li><a href='/web-services/build-environment-data-experiments.yaml' download> build-environment-data-experiments.yaml </a></li> </ul>",
    "license": {
      "name": "Creative Commons License 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    }
  },
  "servers": [
    {
      "url": "https://experiments.builtenvdata.eu/api/v1",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/all-datasets/": {
      "get": {
        "operationId": "all_datasets_retrieve",
        "tags": ["all-datasets"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/contact/": {
      "post": {
        "operationId": "contact_create",
        "tags": ["contact"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/country/{country_slug}/": {
      "get": {
        "operationId": "country_retrieve",
        "description": "Retrieve facilities by country using either the country code or the country name. For country names with spaces, only the country code should be used.",
        "parameters": [
          {
            "in": "path",
            "name": "country_slug",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": ["country"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/dataset-file/": {
      "get": {
        "operationId": "dataset_file_retrieve",
        "parameters": [
          {
            "in": "query",
            "name": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "File path (e.g., 'some.zip' or 'data/some.zip')"
          }
        ],
        "tags": ["dataset-file"],
        "responses": {
          "200": {
            "description": "File size information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_path": {
                      "type": "string",
                      "description": "Full file path"
                    },
                    "size_gb": {
                      "type": "number",
                      "description": "File size in gigabytes"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/datasets/{project_id}/": {
      "get": {
        "operationId": "datasets_retrieve",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": ["datasets"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/datasets/{project_id}/download/": {
      "get": {
        "operationId": "datasets_download_retrieve",
        "parameters": [
          {
            "in": "path",
            "name": "project_id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Project identifier"
          },
          {
            "in": "query",
            "name": "filename",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Name of the file to download"
          }
        ],
        "tags": ["datasets"],
        "responses": {
          "200": {
            "description": "File download",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/datasets/explore-results/": {
      "post": {
        "operationId": "datasets_explore_results_create",
        "tags": ["datasets"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/datasets/filter-results/": {
      "post": {
        "operationId": "datasets_filter_results_create",
        "tags": ["datasets"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/datasets/search/": {
      "post": {
        "operationId": "datasets_search_create",
        "tags": ["datasets"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/facility/{facility_slug}/": {
      "get": {
        "operationId": "facility_retrieve",
        "parameters": [
          {
            "in": "path",
            "name": "facility_slug",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": ["facility"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/get-featured-datasets/": {
      "get": {
        "operationId": "get_featured_datasets_retrieve",
        "description": "Get featured datasets",
        "tags": ["get-featured-datasets"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/get-latest-about-us/": {
      "get": {
        "operationId": "get_latest_about_us_retrieve",
        "description": "Get Latest About Us Text",
        "tags": ["get-latest-about-us"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AboutUs"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/latest-datasets/": {
      "get": {
        "operationId": "latest_datasets_retrieve",
        "description": "Get Latest Datasets",
        "tags": ["latest-datasets"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/most-downloaded-datasets/": {
      "get": {
        "operationId": "most_downloaded_datasets_retrieve",
        "description": "Get Most Downloaded Datasets",
        "tags": ["most-downloaded-datasets"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/people/{person_slug}/": {
      "get": {
        "operationId": "people_retrieve",
        "parameters": [
          {
            "in": "path",
            "name": "person_slug",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": ["people"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/schema/": {
      "get": {
        "operationId": "schema_retrieve",
        "description": "OpenApi3 schema for this API. Format can be selected via content negotiation.\n\n- YAML: application/vnd.oai.openapi\n- JSON: application/vnd.oai.openapi+json",
        "parameters": [
          {
            "in": "query",
            "name": "format",
            "schema": {
              "type": "string",
              "enum": ["json", "yaml"]
            }
          },
          {
            "in": "query",
            "name": "lang",
            "schema": {
              "type": "string",
              "enum": [
                "af",
                "ar",
                "ar-dz",
                "ast",
                "az",
                "be",
                "bg",
                "bn",
                "br",
                "bs",
                "ca",
                "cs",
                "cy",
                "da",
                "de",
                "dsb",
                "el",
                "en",
                "en-au",
                "en-gb",
                "eo",
                "es",
                "es-ar",
                "es-co",
                "es-mx",
                "es-ni",
                "es-ve",
                "et",
                "eu",
                "fa",
                "fi",
                "fr",
                "fy",
                "ga",
                "gd",
                "gl",
                "he",
                "hi",
                "hr",
                "hsb",
                "hu",
                "hy",
                "ia",
                "id",
                "ig",
                "io",
                "is",
                "it",
                "ja",
                "ka",
                "kab",
                "kk",
                "km",
                "kn",
                "ko",
                "ky",
                "lb",
                "lt",
                "lv",
                "mk",
                "ml",
                "mn",
                "mr",
                "ms",
                "my",
                "nb",
                "ne",
                "nl",
                "nn",
                "os",
                "pa",
                "pl",
                "pt",
                "pt-br",
                "ro",
                "ru",
                "sk",
                "sl",
                "sq",
                "sr",
                "sr-latn",
                "sv",
                "sw",
                "ta",
                "te",
                "tg",
                "th",
                "tk",
                "tr",
                "tt",
                "udm",
                "uk",
                "ur",
                "uz",
                "vi",
                "zh-hans",
                "zh-hant"
              ]
            }
          }
        ],
        "tags": ["schema"],
        "responses": {
          "200": {
            "content": {
              "application/vnd.oai.openapi": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "application/yaml": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "application/vnd.oai.openapi+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/taxonomy/get-material-types/": {
      "get": {
        "operationId": "taxonomy_get_material_types_retrieve",
        "tags": ["taxonomy"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/taxonomy/get-material-types/{material_id}/": {
      "get": {
        "operationId": "taxonomy_get_material_types_retrieve_2",
        "parameters": [
          {
            "in": "path",
            "name": "material_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": ["taxonomy"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/taxonomy/get-specimen-types/": {
      "get": {
        "operationId": "taxonomy_get_specimen_types_retrieve",
        "tags": ["taxonomy"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    },
    "/taxonomy/get-specimen-types/{specimen_id}/": {
      "get": {
        "operationId": "taxonomy_get_specimen_types_retrieve_2",
        "parameters": [
          {
            "in": "path",
            "name": "specimen_id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": ["taxonomy"],
        "responses": {
          "200": {
            "description": "No response body"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Affiliation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "title": "Affiliation",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "maxLength": 255
          },
          "get_absolute_url": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": ["get_absolute_url", "id", "name"]
      },
      "CountryEnum": {
        "enum": [
          "AF",
          "AX",
          "AL",
          "DZ",
          "AS",
          "AD",
          "AO",
          "AI",
          "AQ",
          "AG",
          "AR",
          "AM",
          "AW",
          "AU",
          "AT",
          "AZ",
          "BS",
          "BH",
          "BD",
          "BB",
          "BY",
          "BE",
          "BZ",
          "BJ",
          "BM",
          "BT",
          "BO",
          "BQ",
          "BA",
          "BW",
          "BV",
          "BR",
          "IO",
          "BN",
          "BG",
          "BF",
          "BI",
          "CV",
          "KH",
          "CM",
          "CA",
          "KY",
          "CF",
          "TD",
          "CL",
          "CN",
          "CX",
          "CC",
          "CO",
          "KM",
          "CG",
          "CD",
          "CK",
          "CR",
          "CI",
          "HR",
          "CU",
          "CW",
          "CY",
          "CZ",
          "DK",
          "DJ",
          "DM",
          "DO",
          "EC",
          "EG",
          "SV",
          "GQ",
          "ER",
          "EE",
          "SZ",
          "ET",
          "FK",
          "FO",
          "FJ",
          "FI",
          "FR",
          "GF",
          "PF",
          "TF",
          "GA",
          "GM",
          "GE",
          "DE",
          "GH",
          "GI",
          "GR",
          "GL",
          "GD",
          "GP",
          "GU",
          "GT",
          "GG",
          "GN",
          "GW",
          "GY",
          "HT",
          "HM",
          "VA",
          "HN",
          "HK",
          "HU",
          "IS",
          "IN",
          "ID",
          "IR",
          "IQ",
          "IE",
          "IM",
          "IL",
          "IT",
          "JM",
          "JP",
          "JE",
          "JO",
          "KZ",
          "KE",
          "KI",
          "KW",
          "KG",
          "LA",
          "LV",
          "LB",
          "LS",
          "LR",
          "LY",
          "LI",
          "LT",
          "LU",
          "MO",
          "MG",
          "MW",
          "MY",
          "MV",
          "ML",
          "MT",
          "MH",
          "MQ",
          "MR",
          "MU",
          "YT",
          "MX",
          "FM",
          "MD",
          "MC",
          "MN",
          "ME",
          "MS",
          "MA",
          "MZ",
          "MM",
          "NA",
          "NR",
          "NP",
          "NL",
          "NC",
          "NZ",
          "NI",
          "NE",
          "NG",
          "NU",
          "NF",
          "KP",
          "MK",
          "MP",
          "NO",
          "OM",
          "PK",
          "PW",
          "PS",
          "PA",
          "PG",
          "PY",
          "PE",
          "PH",
          "PN",
          "PL",
          "PT",
          "PR",
          "QA",
          "RE",
          "RO",
          "RU",
          "RW",
          "BL",
          "SH",
          "KN",
          "LC",
          "MF",
          "PM",
          "VC",
          "WS",
          "SM",
          "ST",
          "SA",
          "SN",
          "RS",
          "SC",
          "SL",
          "SG",
          "SX",
          "SK",
          "SI",
          "SB",
          "SO",
          "ZA",
          "GS",
          "KR",
          "SS",
          "ES",
          "LK",
          "SD",
          "SR",
          "SJ",
          "SE",
          "CH",
          "SY",
          "TW",
          "TJ",
          "TZ",
          "TH",
          "TL",
          "TG",
          "TK",
          "TO",
          "TT",
          "TN",
          "TR",
          "TM",
          "TC",
          "TV",
          "UG",
          "UA",
          "AE",
          "GB",
          "UM",
          "US",
          "UY",
          "UZ",
          "VU",
          "VE",
          "VN",
          "VG",
          "VI",
          "WF",
          "EH",
          "YE",
          "ZM",
          "ZW"
        ],
        "type": "string",
        "description": "* `AF` - Afghanistan\n* `AX` - Åland Islands\n* `AL` - Albania\n* `DZ` - Algeria\n* `AS` - American Samoa\n* `AD` - Andorra\n* `AO` - Angola\n* `AI` - Anguilla\n* `AQ` - Antarctica\n* `AG` - Antigua and Barbuda\n* `AR` - Argentina\n* `AM` - Armenia\n* `AW` - Aruba\n* `AU` - Australia\n* `AT` - Austria\n* `AZ` - Azerbaijan\n* `BS` - Bahamas\n* `BH` - Bahrain\n* `BD` - Bangladesh\n* `BB` - Barbados\n* `BY` - Belarus\n* `BE` - Belgium\n* `BZ` - Belize\n* `BJ` - Benin\n* `BM` - Bermuda\n* `BT` - Bhutan\n* `BO` - Bolivia\n* `BQ` - Bonaire, Sint Eustatius and Saba\n* `BA` - Bosnia and Herzegovina\n* `BW` - Botswana\n* `BV` - Bouvet Island\n* `BR` - Brazil\n* `IO` - British Indian Ocean Territory\n* `BN` - Brunei\n* `BG` - Bulgaria\n* `BF` - Burkina Faso\n* `BI` - Burundi\n* `CV` - Cabo Verde\n* `KH` - Cambodia\n* `CM` - Cameroon\n* `CA` - Canada\n* `KY` - Cayman Islands\n* `CF` - Central African Republic\n* `TD` - Chad\n* `CL` - Chile\n* `CN` - China\n* `CX` - Christmas Island\n* `CC` - Cocos (Keeling) Islands\n* `CO` - Colombia\n* `KM` - Comoros\n* `CG` - Congo\n* `CD` - Congo (the Democratic Republic of the)\n* `CK` - Cook Islands\n* `CR` - Costa Rica\n* `CI` - Côte d'Ivoire\n* `HR` - Croatia\n* `CU` - Cuba\n* `CW` - Curaçao\n* `CY` - Cyprus\n* `CZ` - Czechia\n* `DK` - Denmark\n* `DJ` - Djibouti\n* `DM` - Dominica\n* `DO` - Dominican Republic\n* `EC` - Ecuador\n* `EG` - Egypt\n* `SV` - El Salvador\n* `GQ` - Equatorial Guinea\n* `ER` - Eritrea\n* `EE` - Estonia\n* `SZ` - Eswatini\n* `ET` - Ethiopia\n* `FK` - Falkland Islands (Malvinas)\n* `FO` - Faroe Islands\n* `FJ` - Fiji\n* `FI` - Finland\n* `FR` - France\n* `GF` - French Guiana\n* `PF` - French Polynesia\n* `TF` - French Southern Territories\n* `GA` - Gabon\n* `GM` - Gambia\n* `GE` - Georgia\n* `DE` - Germany\n* `GH` - Ghana\n* `GI` - Gibraltar\n* `GR` - Greece\n* `GL` - Greenland\n* `GD` - Grenada\n* `GP` - Guadeloupe\n* `GU` - Guam\n* `GT` - Guatemala\n* `GG` - Guernsey\n* `GN` - Guinea\n* `GW` - Guinea-Bissau\n* `GY` - Guyana\n* `HT` - Haiti\n* `HM` - Heard Island and McDonald Islands\n* `VA` - Holy See\n* `HN` - Honduras\n* `HK` - Hong Kong\n* `HU` - Hungary\n* `IS` - Iceland\n* `IN` - India\n* `ID` - Indonesia\n* `IR` - Iran\n* `IQ` - Iraq\n* `IE` - Ireland\n* `IM` - Isle of Man\n* `IL` - Israel\n* `IT` - Italy\n* `JM` - Jamaica\n* `JP` - Japan\n* `JE` - Jersey\n* `JO` - Jordan\n* `KZ` - Kazakhstan\n* `KE` - Kenya\n* `KI` - Kiribati\n* `KW` - Kuwait\n* `KG` - Kyrgyzstan\n* `LA` - Laos\n* `LV` - Latvia\n* `LB` - Lebanon\n* `LS` - Lesotho\n* `LR` - Liberia\n* `LY` - Libya\n* `LI` - Liechtenstein\n* `LT` - Lithuania\n* `LU` - Luxembourg\n* `MO` - Macao\n* `MG` - Madagascar\n* `MW` - Malawi\n* `MY` - Malaysia\n* `MV` - Maldives\n* `ML` - Mali\n* `MT` - Malta\n* `MH` - Marshall Islands\n* `MQ` - Martinique\n* `MR` - Mauritania\n* `MU` - Mauritius\n* `YT` - Mayotte\n* `MX` - Mexico\n* `FM` - Micronesia (Federated States of)\n* `MD` - Moldova\n* `MC` - Monaco\n* `MN` - Mongolia\n* `ME` - Montenegro\n* `MS` - Montserrat\n* `MA` - Morocco\n* `MZ` - Mozambique\n* `MM` - Myanmar\n* `NA` - Namibia\n* `NR` - Nauru\n* `NP` - Nepal\n* `NL` - Netherlands\n* `NC` - New Caledonia\n* `NZ` - New Zealand\n* `NI` - Nicaragua\n* `NE` - Niger\n* `NG` - Nigeria\n* `NU` - Niue\n* `NF` - Norfolk Island\n* `KP` - North Korea\n* `MK` - North Macedonia\n* `MP` - Northern Mariana Islands\n* `NO` - Norway\n* `OM` - Oman\n* `PK` - Pakistan\n* `PW` - Palau\n* `PS` - Palestine, State of\n* `PA` - Panama\n* `PG` - Papua New Guinea\n* `PY` - Paraguay\n* `PE` - Peru\n* `PH` - Philippines\n* `PN` - Pitcairn\n* `PL` - Poland\n* `PT` - Portugal\n* `PR` - Puerto Rico\n* `QA` - Qatar\n* `RE` - Réunion\n* `RO` - Romania\n* `RU` - Russia\n* `RW` - Rwanda\n* `BL` - Saint Barthélemy\n* `SH` - Saint Helena, Ascension and Tristan da Cunha\n* `KN` - Saint Kitts and Nevis\n* `LC` - Saint Lucia\n* `MF` - Saint Martin (French part)\n* `PM` - Saint Pierre and Miquelon\n* `VC` - Saint Vincent and the Grenadines\n* `WS` - Samoa\n* `SM` - San Marino\n* `ST` - Sao Tome and Principe\n* `SA` - Saudi Arabia\n* `SN` - Senegal\n* `RS` - Serbia\n* `SC` - Seychelles\n* `SL` - Sierra Leone\n* `SG` - Singapore\n* `SX` - Sint Maarten (Dutch part)\n* `SK` - Slovakia\n* `SI` - Slovenia\n* `SB` - Solomon Islands\n* `SO` - Somalia\n* `ZA` - South Africa\n* `GS` - South Georgia and the South Sandwich Islands\n* `KR` - South Korea\n* `SS` - South Sudan\n* `ES` - Spain\n* `LK` - Sri Lanka\n* `SD` - Sudan\n* `SR` - Suriname\n* `SJ` - Svalbard and Jan Mayen\n* `SE` - Sweden\n* `CH` - Switzerland\n* `SY` - Syria\n* `TW` - Taiwan\n* `TJ` - Tajikistan\n* `TZ` - Tanzania\n* `TH` - Thailand\n* `TL` - Timor-Leste\n* `TG` - Togo\n* `TK` - Tokelau\n* `TO` - Tonga\n* `TT` - Trinidad and Tobago\n* `TN` - Tunisia\n* `TR` - Turkey\n* `TM` - Turkmenistan\n* `TC` - Turks and Caicos Islands\n* `TV` - Tuvalu\n* `UG` - Uganda\n* `UA` - Ukraine\n* `AE` - United Arab Emirates\n* `GB` - United Kingdom\n* `UM` - United States Minor Outlying Islands\n* `US` - United States of America\n* `UY` - Uruguay\n* `UZ` - Uzbekistan\n* `VU` - Vanuatu\n* `VE` - Venezuela\n* `VN` - Vietnam\n* `VG` - Virgin Islands (British)\n* `VI` - Virgin Islands (U.S.)\n* `WF` - Wallis and Futuna\n* `EH` - Western Sahara\n* `YE` - Yemen\n* `ZM` - Zambia\n* `ZW` - Zimbabwe"
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "engineering_discipline": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EngineeringDiscipline"
            }
          },
          "experiment_title": {
            "type": "string",
            "maxLength": 255
          },
          "experiment_type": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentType"
            }
          },
          "experiment_scale": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentScale"
            }
          },
          "experiment_description": {
            "type": "string",
            "nullable": true
          },
          "experiment_pi": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            }
          },
          "experiment_facility": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExperimentalFacility"
            }
          },
          "start_of_experiment": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "end_of_experiment": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "title": "End Year of Experiment (Optional)"
          },
          "date_of_publication": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "publications": {
            "type": "string",
            "nullable": true,
            "title": "How to Cite This Work"
          },
          "keywords": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "doi": {
            "type": "string",
            "nullable": true,
            "maxLength": 255
          },
          "license": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/License"
            }
          },
          "taxonomy": {
            "type": "string",
            "maxLength": 255
          },
          "get_absolute_url": {
            "type": "string",
            "readOnly": true
          },
          "get_image": {
            "type": "string",
            "readOnly": true
          },
          "get_thumbnail": {
            "type": "string",
            "readOnly": true
          },
          "downloads": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": -2147483648
          },
          "date_added": {
            "type": "string",
            "format": "date",
            "readOnly": true
          },
          "custom_date_added": {
            "type": "string",
            "format": "date-time"
          },
          "start_date_added": {
            "type": "string",
            "readOnly": true
          },
          "end_date_added": {
            "type": "string",
            "readOnly": true
          },
          "year_of_experiment": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": -2147483648,
            "nullable": true
          },
          "url": {
            "type": "string",
            "nullable": true,
            "title": "Filenames separated by a comma"
          },
          "active": {
            "type": "boolean"
          },
          "front_page": {
            "type": "boolean"
          }
        },
        "required": [
          "custom_date_added",
          "date_added",
          "end_date_added",
          "engineering_discipline",
          "experiment_facility",
          "experiment_pi",
          "experiment_scale",
          "experiment_title",
          "experiment_type",
          "get_absolute_url",
          "get_image",
          "get_thumbnail",
          "id",
          "license",
          "start_date_added",
          "taxonomy"
        ]
      },
      "EngineeringDiscipline": {
        "type": "object",
        "properties": {
          "discipline": {
            "type": "string",
            "maxLength": 255
          },
          "get_absolute_url": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": ["discipline", "get_absolute_url"]
      },
      "ExperimentScale": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Scale",
            "maxLength": 255
          },
          "get_absolute_url": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": ["get_absolute_url", "name"]
      },
      "ExperimentType": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "title": "Type",
            "maxLength": 255
          },
          "get_absolute_url": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": ["get_absolute_url", "name"]
      },
      "ExperimentalFacility": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "title": "Facility",
            "maxLength": 255
          },
          "country": {
            "$ref": "#/components/schemas/CountryEnum"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "get_absolute_url": {
            "type": "string",
            "readOnly": true
          },
          "slug": {
            "type": "string",
            "maxLength": 50,
            "pattern": "^[-a-zA-Z0-9_]+$"
          }
        },
        "required": ["country", "get_absolute_url", "id", "name", "slug"]
      },
      "License": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "abbreviation": {
            "type": "string",
            "maxLength": 255
          },
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 200
          }
        },
        "required": ["abbreviation", "name", "url"]
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "first_name": {
            "type": "string",
            "maxLength": 100
          },
          "last_name": {
            "type": "string",
            "maxLength": 100
          },
          "email": {
            "type": "string",
            "maxLength": 100
          },
          "address": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "maxLength": 100
          },
          "affiliation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliation"
            }
          },
          "get_absolute_url": {
            "type": "string",
            "readOnly": true
          },
          "slug": {
            "type": "string",
            "maxLength": 50,
            "pattern": "^[-a-zA-Z0-9_]+$"
          }
        },
        "required": [
          "affiliation",
          "email",
          "first_name",
          "get_absolute_url",
          "id",
          "last_name",
          "slug"
        ]
      }
    }
  }
}
