openapi: 3.0.3
info:
  title: 'DRF Built Environment Data: Experiments'
  version: 1.0.0
  description: " <strong>BED</strong> offers a suite of web services that users can interact with programmatically. Below, you'll find collections of API requests supported by our web services, organized for easy access and integration into your projects. Data must be obtained using any prgram supporting the HTTP-POST and HTTP-GET methods. 
    <br>
    For detailed descriptions and curl examples visit <a href='/web-services'>Web Services</a>
    <br>
    Get the collections in JSON and YAML formats and start explooring the possibilities with the <strong>BED</strong>'s APIs:
    <ul>
      <li><a href='/build-environment-data-experiments.postman_collection.json' download> build-environment-data-experiments.postman_collection.json </a></li>
      <li><a href='/build-environment-data-experiments.yaml' download> build-environment-data-experiments.yaml </a></li>
    </ul>
    "
servers:
  - url: https://experiments.builtenvdata.eu/api/v1
  - description: Production Server
paths:
  /api/v1/all-datasets/:
    get:
      operationId: all_datasets_retrieve
      tags:
      - all-datasets
      responses:
        '200':
          description: No response body
  /api/v1/contact/:
    post:
      operationId: contact_create
      tags:
      - contact
      responses:
        '200':
          description: No response body
  /api/v1/country/{country_slug}/:
    get:
      operationId: country_retrieve
      description: Get facilities by country
      parameters:
      - in: path
        name: country_slug
        schema:
          type: string
        required: true
      tags:
      - country
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: ''
  /api/v1/dataset-file/:
    get:
      operationId: dataset_file_retrieve
      parameters:
      - in: query
        name: path
        schema:
          type: string
        required: true
      tags:
      - dataset-file
      responses:
        '200':
          description: No response body
  /api/v1/datasets/{project_id}/:
    get:
      operationId: datasets_retrieve
      parameters:
      - in: path
        name: project_id
        schema:
          type: string
        required: true
      tags:
      - datasets
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: ''
  /api/v1/datasets/{project_id}/download/:
    get:
      operationId: datasets_download_retrieve
      parameters:
      - in: query
        name: filename
        schema:
          type: string
        required: true
      - in: path
        name: project_id
        schema:
          type: string
        required: true
      tags:
      - datasets
      responses:
        '200':
          description: No response body
  /api/v1/datasets/explore-results/:
    post:
      operationId: datasets_explore_results_create
      tags:
      - datasets
      responses:
        '200':
          description: No response body
  /api/v1/datasets/filter-results/:
    post:
      operationId: datasets_filter_results_create
      tags:
      - datasets
      responses:
        '200':
          description: No response body
  /api/v1/datasets/search/:
    post:
      operationId: datasets_search_create
      tags:
      - datasets
      responses:
        '200':
          description: No response body
  /api/v1/facility/{facility_slug}/:
    get:
      operationId: facility_retrieve
      parameters:
      - in: path
        name: facility_slug
        schema:
          type: string
        required: true
      tags:
      - facility
      responses:
        '200':
          description: No response body
  /api/v1/get-featured-datasets/:
    get:
      operationId: get_featured_datasets_retrieve
      description: Get featured datasets
      tags:
      - get-featured-datasets
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: ''
  /api/v1/get-latest-about-us/:
    get:
      operationId: get_latest_about_us_retrieve
      description: Get Latest About Us Text
      tags:
      - get-latest-about-us
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AboutUs'
          description: ''
  /api/v1/latest-datasets/:
    get:
      operationId: latest_datasets_retrieve
      description: Get Latest Datasets
      tags:
      - latest-datasets
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: ''
  /api/v1/most-downloaded-datasets/:
    get:
      operationId: most_downloaded_datasets_retrieve
      description: Get Most Downloaded Datasets
      tags:
      - most-downloaded-datasets
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: ''
  /api/v1/people/{person_slug}/:
    get:
      operationId: people_retrieve
      parameters:
      - in: path
        name: person_slug
        schema:
          type: string
        required: true
      tags:
      - people
      responses:
        '200':
          description: No response body
  /api/v1/schema/:
    get:
      operationId: schema_retrieve
      description: |-
        OpenApi3 schema for this API. Format can be selected via content negotiation.

        - YAML: application/vnd.oai.openapi
        - JSON: application/vnd.oai.openapi+json
      parameters:
      - in: query
        name: format
        schema:
          type: string
          enum:
          - json
          - yaml
      - in: query
        name: lang
        schema:
          type: string
          enum:
          - af
          - ar
          - ar-dz
          - ast
          - az
          - be
          - bg
          - bn
          - br
          - bs
          - ca
          - cs
          - cy
          - da
          - de
          - dsb
          - el
          - en
          - en-au
          - en-gb
          - eo
          - es
          - es-ar
          - es-co
          - es-mx
          - es-ni
          - es-ve
          - et
          - eu
          - fa
          - fi
          - fr
          - fy
          - ga
          - gd
          - gl
          - he
          - hi
          - hr
          - hsb
          - hu
          - hy
          - ia
          - id
          - ig
          - io
          - is
          - it
          - ja
          - ka
          - kab
          - kk
          - km
          - kn
          - ko
          - ky
          - lb
          - lt
          - lv
          - mk
          - ml
          - mn
          - mr
          - ms
          - my
          - nb
          - ne
          - nl
          - nn
          - os
          - pa
          - pl
          - pt
          - pt-br
          - ro
          - ru
          - sk
          - sl
          - sq
          - sr
          - sr-latn
          - sv
          - sw
          - ta
          - te
          - tg
          - th
          - tk
          - tr
          - tt
          - udm
          - uk
          - ur
          - uz
          - vi
          - zh-hans
          - zh-hant
      tags:
      - schema
      responses:
        '200':
          content:
            application/vnd.oai.openapi:
              schema:
                type: object
                additionalProperties: {}
            application/yaml:
              schema:
                type: object
                additionalProperties: {}
            application/vnd.oai.openapi+json:
              schema:
                type: object
                additionalProperties: {}
            application/json:
              schema:
                type: object
                additionalProperties: {}
          description: ''
  /api/v1/taxonomy/get-material-types/:
    get:
      operationId: taxonomy_get_material_types_retrieve
      tags:
      - taxonomy
      responses:
        '200':
          description: No response body
  /api/v1/taxonomy/get-material-types/{material_id}/:
    get:
      operationId: taxonomy_get_material_types_retrieve_2
      parameters:
      - in: path
        name: material_id
        schema:
          type: string
        required: true
      tags:
      - taxonomy
      responses:
        '200':
          description: No response body
  /api/v1/taxonomy/get-specimen-types/:
    get:
      operationId: taxonomy_get_specimen_types_retrieve
      tags:
      - taxonomy
      responses:
        '200':
          description: No response body
  /api/v1/taxonomy/get-specimen-types/{specimen_id}/:
    get:
      operationId: taxonomy_get_specimen_types_retrieve_2
      parameters:
      - in: path
        name: specimen_id
        schema:
          type: string
        required: true
      tags:
      - taxonomy
      responses:
        '200':
          description: No response body
  /api/v1/taxonomy/update-cache/:
    get:
      operationId: taxonomy_update_cache_retrieve
      tags:
      - taxonomy
      responses:
        '200':
          description: No response body
components:
  schemas:
    AboutUs:
      type: object
      properties:
        text:
          type: string
          title: About Us
        date_added:
          type: string
          format: date
      required:
      - text
    Affiliation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          title: Affiliation
          maxLength: 255
        description:
          type: string
          nullable: true
        website:
          type: string
          format: uri
          nullable: true
          maxLength: 255
        get_absolute_url:
          type: string
          readOnly: true
      required:
      - get_absolute_url
      - id
      - name
    CountryEnum:
      enum:
      - AF
      - AX
      - AL
      - DZ
      - AS
      - AD
      - AO
      - AI
      - AQ
      - AG
      - AR
      - AM
      - AW
      - AU
      - AT
      - AZ
      - BS
      - BH
      - BD
      - BB
      - BY
      - BE
      - BZ
      - BJ
      - BM
      - BT
      - BO
      - BQ
      - BA
      - BW
      - BV
      - BR
      - IO
      - BN
      - BG
      - BF
      - BI
      - CV
      - KH
      - CM
      - CA
      - KY
      - CF
      - TD
      - CL
      - CN
      - CX
      - CC
      - CO
      - KM
      - CG
      - CD
      - CK
      - CR
      - CI
      - HR
      - CU
      - CW
      - CY
      - CZ
      - DK
      - DJ
      - DM
      - DO
      - EC
      - EG
      - SV
      - GQ
      - ER
      - EE
      - SZ
      - ET
      - FK
      - FO
      - FJ
      - FI
      - FR
      - GF
      - PF
      - TF
      - GA
      - GM
      - GE
      - DE
      - GH
      - GI
      - GR
      - GL
      - GD
      - GP
      - GU
      - GT
      - GG
      - GN
      - GW
      - GY
      - HT
      - HM
      - VA
      - HN
      - HK
      - HU
      - IS
      - IN
      - ID
      - IR
      - IQ
      - IE
      - IM
      - IL
      - IT
      - JM
      - JP
      - JE
      - JO
      - KZ
      - KE
      - KI
      - KW
      - KG
      - LA
      - LV
      - LB
      - LS
      - LR
      - LY
      - LI
      - LT
      - LU
      - MO
      - MG
      - MW
      - MY
      - MV
      - ML
      - MT
      - MH
      - MQ
      - MR
      - MU
      - YT
      - MX
      - FM
      - MD
      - MC
      - MN
      - ME
      - MS
      - MA
      - MZ
      - MM
      - NA
      - NR
      - NP
      - NL
      - NC
      - NZ
      - NI
      - NE
      - NG
      - NU
      - NF
      - KP
      - MK
      - MP
      - 'NO'
      - OM
      - PK
      - PW
      - PS
      - PA
      - PG
      - PY
      - PE
      - PH
      - PN
      - PL
      - PT
      - PR
      - QA
      - RE
      - RO
      - RU
      - RW
      - BL
      - SH
      - KN
      - LC
      - MF
      - PM
      - VC
      - WS
      - SM
      - ST
      - SA
      - SN
      - RS
      - SC
      - SL
      - SG
      - SX
      - SK
      - SI
      - SB
      - SO
      - ZA
      - GS
      - KR
      - SS
      - ES
      - LK
      - SD
      - SR
      - SJ
      - SE
      - CH
      - SY
      - TW
      - TJ
      - TZ
      - TH
      - TL
      - TG
      - TK
      - TO
      - TT
      - TN
      - TR
      - TM
      - TC
      - TV
      - UG
      - UA
      - AE
      - GB
      - UM
      - US
      - UY
      - UZ
      - VU
      - VE
      - VN
      - VG
      - VI
      - WF
      - EH
      - YE
      - ZM
      - ZW
      type: string
      description: |-
        * `AF` - Afghanistan
        * `AX` - Åland Islands
        * `AL` - Albania
        * `DZ` - Algeria
        * `AS` - American Samoa
        * `AD` - Andorra
        * `AO` - Angola
        * `AI` - Anguilla
        * `AQ` - Antarctica
        * `AG` - Antigua and Barbuda
        * `AR` - Argentina
        * `AM` - Armenia
        * `AW` - Aruba
        * `AU` - Australia
        * `AT` - Austria
        * `AZ` - Azerbaijan
        * `BS` - Bahamas
        * `BH` - Bahrain
        * `BD` - Bangladesh
        * `BB` - Barbados
        * `BY` - Belarus
        * `BE` - Belgium
        * `BZ` - Belize
        * `BJ` - Benin
        * `BM` - Bermuda
        * `BT` - Bhutan
        * `BO` - Bolivia
        * `BQ` - Bonaire, Sint Eustatius and Saba
        * `BA` - Bosnia and Herzegovina
        * `BW` - Botswana
        * `BV` - Bouvet Island
        * `BR` - Brazil
        * `IO` - British Indian Ocean Territory
        * `BN` - Brunei
        * `BG` - Bulgaria
        * `BF` - Burkina Faso
        * `BI` - Burundi
        * `CV` - Cabo Verde
        * `KH` - Cambodia
        * `CM` - Cameroon
        * `CA` - Canada
        * `KY` - Cayman Islands
        * `CF` - Central African Republic
        * `TD` - Chad
        * `CL` - Chile
        * `CN` - China
        * `CX` - Christmas Island
        * `CC` - Cocos (Keeling) Islands
        * `CO` - Colombia
        * `KM` - Comoros
        * `CG` - Congo
        * `CD` - Congo (the Democratic Republic of the)
        * `CK` - Cook Islands
        * `CR` - Costa Rica
        * `CI` - Côte d'Ivoire
        * `HR` - Croatia
        * `CU` - Cuba
        * `CW` - Curaçao
        * `CY` - Cyprus
        * `CZ` - Czechia
        * `DK` - Denmark
        * `DJ` - Djibouti
        * `DM` - Dominica
        * `DO` - Dominican Republic
        * `EC` - Ecuador
        * `EG` - Egypt
        * `SV` - El Salvador
        * `GQ` - Equatorial Guinea
        * `ER` - Eritrea
        * `EE` - Estonia
        * `SZ` - Eswatini
        * `ET` - Ethiopia
        * `FK` - Falkland Islands (Malvinas)
        * `FO` - Faroe Islands
        * `FJ` - Fiji
        * `FI` - Finland
        * `FR` - France
        * `GF` - French Guiana
        * `PF` - French Polynesia
        * `TF` - French Southern Territories
        * `GA` - Gabon
        * `GM` - Gambia
        * `GE` - Georgia
        * `DE` - Germany
        * `GH` - Ghana
        * `GI` - Gibraltar
        * `GR` - Greece
        * `GL` - Greenland
        * `GD` - Grenada
        * `GP` - Guadeloupe
        * `GU` - Guam
        * `GT` - Guatemala
        * `GG` - Guernsey
        * `GN` - Guinea
        * `GW` - Guinea-Bissau
        * `GY` - Guyana
        * `HT` - Haiti
        * `HM` - Heard Island and McDonald Islands
        * `VA` - Holy See
        * `HN` - Honduras
        * `HK` - Hong Kong
        * `HU` - Hungary
        * `IS` - Iceland
        * `IN` - India
        * `ID` - Indonesia
        * `IR` - Iran
        * `IQ` - Iraq
        * `IE` - Ireland
        * `IM` - Isle of Man
        * `IL` - Israel
        * `IT` - Italy
        * `JM` - Jamaica
        * `JP` - Japan
        * `JE` - Jersey
        * `JO` - Jordan
        * `KZ` - Kazakhstan
        * `KE` - Kenya
        * `KI` - Kiribati
        * `KW` - Kuwait
        * `KG` - Kyrgyzstan
        * `LA` - Laos
        * `LV` - Latvia
        * `LB` - Lebanon
        * `LS` - Lesotho
        * `LR` - Liberia
        * `LY` - Libya
        * `LI` - Liechtenstein
        * `LT` - Lithuania
        * `LU` - Luxembourg
        * `MO` - Macao
        * `MG` - Madagascar
        * `MW` - Malawi
        * `MY` - Malaysia
        * `MV` - Maldives
        * `ML` - Mali
        * `MT` - Malta
        * `MH` - Marshall Islands
        * `MQ` - Martinique
        * `MR` - Mauritania
        * `MU` - Mauritius
        * `YT` - Mayotte
        * `MX` - Mexico
        * `FM` - Micronesia (Federated States of)
        * `MD` - Moldova
        * `MC` - Monaco
        * `MN` - Mongolia
        * `ME` - Montenegro
        * `MS` - Montserrat
        * `MA` - Morocco
        * `MZ` - Mozambique
        * `MM` - Myanmar
        * `NA` - Namibia
        * `NR` - Nauru
        * `NP` - Nepal
        * `NL` - Netherlands
        * `NC` - New Caledonia
        * `NZ` - New Zealand
        * `NI` - Nicaragua
        * `NE` - Niger
        * `NG` - Nigeria
        * `NU` - Niue
        * `NF` - Norfolk Island
        * `KP` - North Korea
        * `MK` - North Macedonia
        * `MP` - Northern Mariana Islands
        * `NO` - Norway
        * `OM` - Oman
        * `PK` - Pakistan
        * `PW` - Palau
        * `PS` - Palestine, State of
        * `PA` - Panama
        * `PG` - Papua New Guinea
        * `PY` - Paraguay
        * `PE` - Peru
        * `PH` - Philippines
        * `PN` - Pitcairn
        * `PL` - Poland
        * `PT` - Portugal
        * `PR` - Puerto Rico
        * `QA` - Qatar
        * `RE` - Réunion
        * `RO` - Romania
        * `RU` - Russia
        * `RW` - Rwanda
        * `BL` - Saint Barthélemy
        * `SH` - Saint Helena, Ascension and Tristan da Cunha
        * `KN` - Saint Kitts and Nevis
        * `LC` - Saint Lucia
        * `MF` - Saint Martin (French part)
        * `PM` - Saint Pierre and Miquelon
        * `VC` - Saint Vincent and the Grenadines
        * `WS` - Samoa
        * `SM` - San Marino
        * `ST` - Sao Tome and Principe
        * `SA` - Saudi Arabia
        * `SN` - Senegal
        * `RS` - Serbia
        * `SC` - Seychelles
        * `SL` - Sierra Leone
        * `SG` - Singapore
        * `SX` - Sint Maarten (Dutch part)
        * `SK` - Slovakia
        * `SI` - Slovenia
        * `SB` - Solomon Islands
        * `SO` - Somalia
        * `ZA` - South Africa
        * `GS` - South Georgia and the South Sandwich Islands
        * `KR` - South Korea
        * `SS` - South Sudan
        * `ES` - Spain
        * `LK` - Sri Lanka
        * `SD` - Sudan
        * `SR` - Suriname
        * `SJ` - Svalbard and Jan Mayen
        * `SE` - Sweden
        * `CH` - Switzerland
        * `SY` - Syria
        * `TW` - Taiwan
        * `TJ` - Tajikistan
        * `TZ` - Tanzania
        * `TH` - Thailand
        * `TL` - Timor-Leste
        * `TG` - Togo
        * `TK` - Tokelau
        * `TO` - Tonga
        * `TT` - Trinidad and Tobago
        * `TN` - Tunisia
        * `TR` - Turkey
        * `TM` - Turkmenistan
        * `TC` - Turks and Caicos Islands
        * `TV` - Tuvalu
        * `UG` - Uganda
        * `UA` - Ukraine
        * `AE` - United Arab Emirates
        * `GB` - United Kingdom
        * `UM` - United States Minor Outlying Islands
        * `US` - United States of America
        * `UY` - Uruguay
        * `UZ` - Uzbekistan
        * `VU` - Vanuatu
        * `VE` - Venezuela
        * `VN` - Vietnam
        * `VG` - Virgin Islands (British)
        * `VI` - Virgin Islands (U.S.)
        * `WF` - Wallis and Futuna
        * `EH` - Western Sahara
        * `YE` - Yemen
        * `ZM` - Zambia
        * `ZW` - Zimbabwe
    Dataset:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        engineering_discipline:
          type: array
          items:
            $ref: '#/components/schemas/EngineeringDiscipline'
        experiment_title:
          type: string
          maxLength: 255
        experiment_type:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentType'
        experiment_scale:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentScale'
        experiment_description:
          type: string
          nullable: true
        experiment_pi:
          type: array
          items:
            $ref: '#/components/schemas/Person'
        experiment_facility:
          type: array
          items:
            $ref: '#/components/schemas/ExperimentalFacility'
        start_of_experiment:
          type: string
          format: date
          nullable: true
        end_of_experiment:
          type: string
          format: date
          nullable: true
          title: End Year of Experiment (Optional)
        date_of_publication:
          type: string
          format: date
          nullable: true
        publications:
          type: string
          nullable: true
          title: How to Cite This Work
        keywords:
          type: string
          nullable: true
          maxLength: 255
        doi:
          type: string
          nullable: true
          maxLength: 255
        license:
          type: array
          items:
            $ref: '#/components/schemas/License'
        taxonomy:
          type: string
          maxLength: 255
        get_absolute_url:
          type: string
          readOnly: true
        get_image:
          type: string
          readOnly: true
        get_thumbnail:
          type: string
          readOnly: true
        downloads:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        date_added:
          type: string
          format: date
          readOnly: true
        custom_date_added:
          type: string
          format: date-time
        start_date_added:
          type: string
          readOnly: true
        end_date_added:
          type: string
          readOnly: true
        year_of_experiment:
          type: integer
          maximum: 2147483647
          minimum: -2147483648
          nullable: true
        url:
          type: string
          nullable: true
          title: Filenames separated by a comma
        active:
          type: boolean
        front_page:
          type: boolean
      required:
      - custom_date_added
      - date_added
      - end_date_added
      - engineering_discipline
      - experiment_facility
      - experiment_pi
      - experiment_scale
      - experiment_title
      - experiment_type
      - get_absolute_url
      - get_image
      - get_thumbnail
      - id
      - license
      - start_date_added
      - taxonomy
    EngineeringDiscipline:
      type: object
      properties:
        discipline:
          type: string
          maxLength: 255
        get_absolute_url:
          type: string
          readOnly: true
      required:
      - discipline
      - get_absolute_url
    ExperimentScale:
      type: object
      properties:
        name:
          type: string
          title: Scale
          maxLength: 255
        get_absolute_url:
          type: string
          readOnly: true
      required:
      - get_absolute_url
      - name
    ExperimentType:
      type: object
      properties:
        name:
          type: string
          title: Type
          maxLength: 255
        get_absolute_url:
          type: string
          readOnly: true
      required:
      - get_absolute_url
      - name
    ExperimentalFacility:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          title: Facility
          maxLength: 255
        country:
          $ref: '#/components/schemas/CountryEnum'
        description:
          type: string
          nullable: true
        get_absolute_url:
          type: string
          readOnly: true
        slug:
          type: string
          maxLength: 50
          pattern: ^[-a-zA-Z0-9_]+$
      required:
      - country
      - get_absolute_url
      - id
      - name
      - slug
    License:
      type: object
      properties:
        name:
          type: string
          maxLength: 255
        abbreviation:
          type: string
          maxLength: 255
        url:
          type: string
          format: uri
          maxLength: 200
      required:
      - abbreviation
      - name
      - url
    Person:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        email:
          type: string
          maxLength: 100
        address:
          type: string
          nullable: true
          maxLength: 100
        phone:
          type: string
          nullable: true
          maxLength: 100
        affiliation:
          type: array
          items:
            $ref: '#/components/schemas/Affiliation'
        get_absolute_url:
          type: string
          readOnly: true
        slug:
          type: string
          maxLength: 50
          pattern: ^[-a-zA-Z0-9_]+$
      required:
      - affiliation
      - email
      - first_name
      - get_absolute_url
      - id
      - last_name
      - slug
